*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --cell-size: 60px;
    --big-size: calc(var(--cell-size) * 1.1);
    --small-size: calc(var(--cell-size) * .4);
    --bg: 
}

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hwb(35 0% 85%);

}

.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cell.big-circle::before,
.cell.big-square::before,
.cell.small-circle::before,
.cell.small-square::before,
.cell.square-circle::before,
.cell.square-circle::after,
.cell.circle-square::before,
.cell.circle-square::after {
    content: "";
    position: absolute;

    background-color: hsl(206, 100%, 80%);
}

.cell.big-circle::before,
.cell.small-circle::before,
.cell.square-circle::after,
.cell.circle-square::before {
    border-radius: 50%;
}

.cell.big-circle::before,
.cell.big-square::before,
.cell.square-circle::before,
.cell.circle-square::before {
    width: var(--big-size);
    height: var(--big-size);
}

.cell.small-circle::before,
.cell.small-square::before {
    width: var(--small-size);
    height: var(--small-size);
}

.cell.square-circle::after,
.cell.circle-square::after{
    width: var(--small-size);
    height: var(--small-size);

    top: 20px;
    left: 20px;

    background-color: hwb(35 0% 85%);
}